<html lang="en">
<head>
<title>Test</title>

<head>
<title><%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel='stylesheet' href='/css/global.css' />
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/registration.css">
<link href="https://fonts.googleapis.com/css?family=Krub"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript" src="/js/root.js"></script>


<style>
input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 420px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-text: center;
}

input[type=button] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 420px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
    width: 60%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 420px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=password] {
	 width: 60%;
    padding: 12px 20px;
    margin: 8px 420px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-text: center;
}
</style>

</head>

<body>

	<header>
		<nav>
			<a href="/"><h1>Home</h1></a> <input type="text"
				placeholder="search...">
			<div>
				<input type="image" class="bell" alt="Notification"
					src="/bilder/bell.png" onclick="alert('nothing');"> <input
					type="image" class="profile" alt="profile"
					src="/bilder/person.png"
					onclick="window.location.href='/profile.html?id=1'">
			</div>
		</nav>
	</header>
	
	<div class="signup">
        <h1>Bitte melden Sie sich an</h1>
        <form id="login">
            <input id="UserName" class="input" name="username" type="text" placeholder="Username" required><br>
            <input type="password" class="input" name="password" id="Password"  placeholder="Passwort" required><br>
            <input type="button" name="Submit" value="Anmelden" class="btn" onclick="openIndex()">
            <input type="submit" name="goToReg" value="Kein Account? Hier registrieren" class="btn" onclick="openReg()">
        
        </form>
    </div>
	
	
</body>