<!DOCTYPE html>
<html lang="en">
<head>
<title>Test</title>

<head>
<title><%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel='stylesheet' href='/css/global.css' />
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Krub"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/newquestion.js"></script>
<script type="text/javascript" src="/js/root.js"></script>


</head>
<body>
	<header>
		<nav>
			<a href="/"><h1>Home</h1></a> <input type="text"
				placeholder="search...">
				<input type="button" value="+" onclick="newQuestion()">
			<div>
				<input type="image" class="bell" alt="Notification"
					src="/bilder/bell.png" onclick="alert('nothing');"> <input
					type="image" class="profile" alt="profile"
					src="/bilder/person.png"
					onclick="checkCookie()">
			</div>
		</nav>
	</header>
Hier kann man eine neue Frage erstellen
</body>
</html>