/* RGB */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  background: #f0f0f0; }
  body header {
    background: #1f7a8c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body header nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: all ease-in-out 0.5s;
      -o-transition: all ease-in-out 0.5s;
      transition: all ease-in-out 0.5s;
      width: 100%;
      max-width: 90em;
      height: 60px; }
      @media screen and (max-width: 1000px) and (min-width: 800px) {
        body header nav {
          max-width: 62em; } }
      @media screen and (max-width: 800px) {
        body header nav {
          max-width: 41em; } }
      body header nav > * {
        -webkit-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
        min-width: 100px; }
      body header nav a {
        color: #f0f0f0;
        text-align: center;
        height: 100%;
        padding: 15px; }
        body header nav a:hover {
          background: #175966;
          color: #ef8354; }
      body header nav input[type="text"] {
        -webkit-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
        padding: 5px 8px;
        width: 15em;
        height: 2.2em;
        border: none;
        border-radius: 15px; }
        body header nav input[type="text"]:hover, body header nav input[type="text"]:focus {
          width: 20em;
          border-radius: 5px; }
        @media screen and (max-width: 800px) {
          body header nav input[type="text"] {
            width: 8em; }
            body header nav input[type="text"]:hover, body header nav input[type="text"]:focus {
              width: 10em; } }
      body header nav div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%; }
        body header nav div > * {
           margin:  15px;
          max-height: 60px; }
        body header nav div > *:hover {
          background: #175966; }
  body main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    width: 100%;
    padding: 15px; }
    body main .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: unset;
      -ms-flex-pack: unset;
      justify-content: unset;
      -webkit-box-align: unset;
      -ms-flex-align: unset;
      align-items: unset;
      -webkit-transition: all ease-in-out 0.5s;
      -o-transition: all ease-in-out 0.5s;
      transition: all ease-in-out 0.5s;
      width: 90%;
      max-width: 85rem; }
      body main .content article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
        -webkit-box-align: unset;
        -ms-flex-align: unset;
        align-items: unset;
        margin: 15px;
        padding: 10px;
        border-radius: 5px;
        -webkit-box-shadow: 10px 10px 5px -1px rgba(218, 218, 218, 0.7);
        box-shadow: 10px 10px 5px -1px rgba(218, 218, 218, 0.7);
        background: #f7f7f7; }
        body main .content article > *, body main .content article .articlecomment > * {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: unset;
          -ms-flex-pack: unset;
          justify-content: unset;
          -webkit-box-align: unset;
          -ms-flex-align: unset;
          align-items: unset;
          margin: 5px; }
        body main .content article .articlefooter, body main .content article .articlecomment .commentfooter {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          body main .content article .articlefooter button, body main .content article .articlecomment .commentfooter button {
            outline: none;
            border: none;
            border-radius: 2px;
            padding: 5px;
            background: #1f7a8c;
            color: #f0f0f0; }
            body main .content article .articlefooter button:hover, body main .content article .articlecomment .commentfooter button:hover {
              background: #175966; }
        body main .content article .articlemain {
          padding: 0 10px;
          color: #022b3a; }
        body main .content article .articlefooter {
          padding: 0 10px; }
        body main .content article .articlecomment {
          margin: 10px 0 0 2em;
          border-top: 1px solid #022b3a;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          body main .content article .articlecomment .commentfooter div:last-child {
            padding-right: 10px; }
    @media screen and (max-width: 800px) {
      body main {
        padding: 0; }
        body main .content {
          width: 100%; } }
    @media screen and (max-width: 1000px) {
      body main .content {
        width: 95%; } }
